@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body > * {
    padding: 16px 220px;
}
body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}
a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.hero {
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    gap: 48px;
    padding: 112px 220px 128px;
    font-size: 18px;
}
.hero-text {
    flex-basis: 456px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.hero-img {
    flex: 1;
    height: 248px;
}
.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}
.hero-cta-btn {
    background: #3882F6;
    border: none;
    padding: 8px 32px;
    border-radius: 6px;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 18px;
    margin-top: auto;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 112px;
    text-align: center;
    color: #1F2937;
    font-size: 18px;
    background: #FFFFFF;
}
.info-main-text {
    font-size: 36px;
    font-weight: 900;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 48px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-basis: 0;  /* It sets the width, which is the size along the main axis, of .card by ignoring (if any) explicitly set width. It will be sized according to its content. If flex-basis: auto; is given, each .card would stretch along horizontal to take the extra space up to the .info's padding, since its parent centered the .card flex items along horizontal and gave a fixed gap between them. */
}
.card-img {
    width: 168px;
    height: 168px;
    border-radius: 16px;
}
.testimonial {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 128px 368px;
    background: #E5E7EB;
    color: #1F2937;
}
.testimonial-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}
.testimonial-author {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    padding-right: 32px;
}
