@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body > * {
    padding: 32px 300px;
}
body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}
a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}