@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body > * {
    padding: 32px 300px;
}
body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}
a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}







/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body > * 
body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 128px 0;
    background: #1F2937;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}
a {
    text-decoration: none;
}
a,
.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}
.hero {
    padding: 16px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    background: #1F2937;
    height: 420px;
}
.hero-text,
.hero-img {
    flex: 0 0 450px;
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4px;
}
.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
button {
    background: #3882F6;
    border: none;
    border-radius: 6px;
    font-weight: 900;
    padding: 8px 32px;
    color: white;
} */